.header{
  width: 100%;
}

.logo{
  float: left;
  display: inline;
}

.logo img{
  width: 150px;
}

.search-bar{
  float: right;
  display: inline;
}

.search-bar input{
  background-color: #f4f4f7;
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
}

.hero-image{
  width: 100%;
  display: block;
  margin-top:30px;
}

.photos-container{
  margin-top: 30px;
}

.photo{
  float: left;
  display: inline;
  width: 25%;
  text-align: center;
  border: 1px solid #b7b7b7;
  margin-right: 10px;
  margin-top: 10px;
}

.photo p{
  padding: 10px;
}


