/* Add background colors with different formats */

.boxOne {
  background-image: linear-gradient(deeppink, gold);
  /* background-image: linear-gradient(60deg, deeppink, gold); */
  /* background-image: linear-gradient(
    90deg,
    deeppink 0%,
    deeppink 9.99%,
    red 10%,
    red 19.99%,
    coral 20%,
    coral 29.99%,
    gold 30%,
    gold 39.99%,
    white 40%
  ); */
}

.boxTwo {
  background-image: radial-gradient(deeppink, red, coral, gold, white);
  /* background-image: radial-gradient(
    50% 100%,
    deeppink,
    gold
  ); */
}

.boxThree {
  background-image: conic-gradient(deeppink, red, coral, gold, white);
}
